#ignore swp files
.*.sw*

#ignore .out files
*.out
hsh

#ignore pseudocode files
pseudocode

#ignore test.c files
test.c
test*.c



#ignore TEST_SUITE files
TEST_SUITES
allowed_functions
runchecker.bash
